<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="gotoHomePage()">
      <ion-back-button default-href=""></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list
      lines="none"
      *ngIf="(chats | async) as chat$">
      <ion-item-group class="chats-group" *ngFor="let chat of chat$">
        <app-bot-box [chat]="chat" [current_user_id]=2></app-bot-box>
      </ion-item-group>
    </ion-list>

</ion-content>

<ion-footer class="footer">
  <ion-toolbar class="footer">
    <ion-textarea
      autoGrow="true"
      rows="1"
      placeholder="Send message"
      class="message"
      [(ngModel)]="message">
    </ion-textarea>
    <ion-buttons slot="end" class="footer">
      <ion-fab-button *ngIf="!isLoading" size="small" (click)="sendMessage()" class="fab">
        <ion-icon name="send"></ion-icon>
      </ion-fab-button>
      <ion-fab-button *ngIf="isLoading" size="small" class="fab">
        <ion-spinner name="crescent"></ion-spinner>
      </ion-fab-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

