<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list class="menu">
          <ion-list-header class="head"></ion-list-header>
          <ion-list-header class="icon"><ion-img class="image" src="../assets/logo-snapchat.svg"></ion-img></ion-list-header>
          <ion-list-header class="note"><ion-note class="note">Welcome to Bot Activity</ion-note></ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let item of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[item.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [md]="item.icon"></ion-icon>
              <ion-label class="label">{{ item.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-list class="exit">
          <ion-item lines="none">
            <ion-icon aria-hidden="true" slot="start" name="exit-outline"></ion-icon>
            <ion-label class="label">Logout</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
