ion-content {
  --background: #ffffff;
}

ion-toolbar {
  --background: #374955;
}

ion-toolbar {
  --color: #03d9c4;
} 

.setting {
  --background: #ffffff;
  --height: 80px;
  --width: 40px;
}

.fab {
  --background: #03d9c4;
  --background-activated: #03d9c4;
  --background-hover: #03d9c4;
}

.list {
  --background: #374955;
  --color: #ffffff;
  --border-color: #ffffff;
  --border-width: 5px;
  --border-radius: 25px;
  --inner-padding-top: 20px;
  font-weight: 500;
  min-height: 20px;
  font-size: 15px;
}
