<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary" id="setting-alert">
      <ion-button>
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item *ngFor="let chat of search(data)" button lines="full" class="list" (click)="gotoButtonBotComponent(chat.name[0])">
    <ion-label>{{chat.name[0]}}</ion-label>
  </ion-item>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button class="fab">
      <ion-icon name="add" (click)="gotoBotComponent()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-alert class="setting"
  trigger="setting-alert"
  [buttons]="alertSetting">
</ion-alert>